<input type="file" name="Upload CSV" (change)="uploadListener($event)" accept=".csv" />
<table id="modifiedTable" *ngIf="records.length > 0">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Sur Name</th>
    <th>Issue Count</th>
    <th>Date of Birth</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records;">
    <td> <span>{{record.firstName}}</span> </td>
    <td> <span>{{record.surName}}</span> </td>
    <td> <span>{{record.issueCount}}</span> </td>
    <td> <span>{{record.dateOfBirth}}</span> </td>
  </tr>
  </tbody>
</table>
